
.swiper {
  z-index: 1;
  margin: 10px auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 500px;
  min-width: 300px;
  height: 100%;
  object-fit: cover;
}

.carouse_img{
  width: 500px;
}

@media screen and (min-width: 550){
.swiper-slide img{
  width: 300px;
}
}
