.news{
    width: 100%;
    position: relative;
    padding: 10px;
}

.news_main{
    width: 100%;
    padding: 10px;
}

.news_main_title{
    padding: 20px 0px;
}


.news_main_collect_items{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.news_item{
    width: 250px;
    text-align: center;
}

.news_item_img {
    height: 200px;
    border-radius: 5px;
    width: 100%;
}

.news_item button{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: green;
    transition: all ease .5s;
}

.news_item button:hover{
    background-color: #ccc;
    color: var(--white-color);
}