.link_to_top{
    z-index: 10;
    height: 0px;
    position: fixed;
}

.link_to_top_logo{
    width: 40px;
    height: 40px;
    background-color: rgb(38, 106, 146);
    color: white;
    margin: auto;
    transform: translate(200vh, 90vh);
    font-size: 35px;
    border-radius: 100%;
    padding-left: 2px;
}

.bimm-about_contents ol li{
    padding: 15px 0px;
}